@page
@model App.Areas.Dashboard.Pages.Posts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].PublishedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].OwnerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].PostId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Post) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostId)
            </td>
            <td>
                <a asp-page="./Posts/Edit" asp-route-id="@item.Id">Edit</a> |
                <a href="./Posts/@item.Id">Details</a> |
                <a asp-page="./Posts/Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
