@page
@model App.Areas.Dashboard.Pages.Posts.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
}
<script>
    function test() {
        document.location.href = "/Dashboard/Posts/Create";
    }

    function deteleConfirmation(id) {
        document.getElementById("postId").value = id;
    }
</script>
<p>
</p>
<button class="btn btn-primary float-right" onclick="test()">新規作成</button>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].PublishedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Posts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishedDate)
                </td>
                <td>
                    <a href="/Dashboard/posts/@item.Id">編集</a>
                </td>
                <td>
                    <button type="button" class="btn btn-primary"
                            data-toggle="modal" data-target="#exampleModal"
                            onclick="deteleConfirmation(@item.Id)">
                        削除
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    この投稿を削除しますか？
                </div>
                <div>
                    投稿は削除すると復元することができません。
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                <form method="post">
                    <input type="hidden" id="postId" name="id" value="" />
                    <button type="submit" class="btn btn-danger" onclick="deletePost(_id)">削除</button>
                </form>
            </div>
        </div>
    </div>
</div>