@page
@model App.Areas.Dashboard.Pages.Posts.IndexModel

@{
    ViewData["Title"] = "Index";
}
    <script>
        function test() {
            document.location.href = "/Dashboard/Posts/Create";
        }
    </script>
<p>
    <button class="btn btn-primary" onclick="test()">新規作成</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].PublishedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].UpdatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Post) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                <a asp-page="./Posts/Edit" asp-route-id="@item.Id">編集</a>
            </td>
        </tr>
}
    </tbody>
</table>
