@page
@model App.Pages.Dashboard.Posts.IndexModel

@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-md-3">
        <h3>Dashboard</h3>
        <ul class="list-group">
            <li class="list-group-item list-group-item-action active">投稿</li>
            <li class="list-group-item list-group-item-action">コメント</li>
            <li class="list-group-item list-group-item-action">設定</li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                @*<form method="post">
                    <input type="hidden" name="id" value="-1" />
                    <input type="submit" value="新規投稿" class="btn btn-primary mb-2" asp-page="Edit" asp-page-handler="New" />
                </form>*@
                <p>
                    <a asp-page="Create"><input type="button" value="新規作成" class="btn btn-primary" /></a>
                </p>
            </div>
            <div class="col-md-12">
                @foreach (var item in Model.Posts)
                {
                    <div class="card">
                        <div class="card-body" style="display: flex;">
                            <div class="col-md-9">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                                <text>@Html.DisplayFor(modelItem => item.UpdatedDate)</text>
                                @if (@item.IsDraft == true)
                                {
                                    <text>下書き</text>
                                }
                                else
                                {
                                    <text>公開済み</text>
                                }
                            </div>
                            <div class="col-md-3">
                                <a class="card-link" asp-page="./Edit" asp-route-id="@item.Id">
                                    <svg style="margin-bottom: 0.15rem; margin-right: 0.15rem;" width="1rem" height="1rem" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z" />
                                        <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z" />
                                    </svg>
                                    編集
                                </a>
                                <a class="card-link" asp-page="./Delete" asp-route-id="@item.Id">
                                    <svg style="margin-bottom: 0.15rem; margin-right: 0.15rem;" width="1rem" height="1rem" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                    </svg>
                                    削除
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        
        
    </div>
</div>