@page
@model App.Pages.Dashboard.Posts.IndexModel

@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-md-3">
        <h3>Dashboard</h3>
        <ul class="list-group">
            <li class="list-group-item list-group-item-action active">投稿</li>
            <li class="list-group-item list-group-item-action">コメント</li>
            <li class="list-group-item list-group-item-action">設定</li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                @*<form method="post">
                    <input type="hidden" name="id" value="-1" />
                    <input type="submit" value="新規投稿" class="btn btn-primary mb-2" asp-page="Edit" asp-page-handler="New" />
                </form>*@
                <p>
                    <a asp-page="Create"><input type="button" value="新規作成" class="btn btn-primary" /></a>
                </p>
            </div>
            <div class="col-md-12">
                @foreach (var item in Model.Posts)
                {
                    <div class="card">
                        <div class="card-body" style="display: flex;">
                            <div class="col-md-9">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                                <text>@Html.DisplayFor(modelItem => item.UpdatedDate)</text>
                                @if (@item.IsDraft == true)
                                {
                                    <text>下書き</text>
                                }
                                else
                                {
                                    <text>公開済み</text>
                                }
                            </div>
                            <div class="col-md-3">
                                <a class="card-link" asp-page="./Edit" asp-route-id="@item.Id">編集</a>
                                <a class="card-link" asp-page="./Delete" asp-route-id="@item.Id">削除</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        
        
    </div>
</div>