@{
    //Layout = "/Pages/Shared/_Layout.cshtml";
    Layout = "_DashboardLayout.cshtml";
    var activePage = ViewData["ActivePage"] as String;

    string PostsActive = "";
    string CommentsActive = "";
    string ConfigurationActive = "";

    switch (activePage)
    {
        case "posts":
            PostsActive = "active";
            break;
        case "comments":
            CommentsActive = "active";
            break;
        case "configuration":
            ConfigurationActive = "active";
            break;
        default:
            break;
    }

}
<h1>Dashboard</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a id="posts" class="nav-link @PostsActive" href="/Dashboard/Posts">投稿一覧</a></li>
                <li class="nav-item"><a id="comments" class="nav-link @CommentsActive" href="/Dashboard/Comments">コメント</a></li>
                <li class="nav-item"><a id="configuration" class="nav-link @ConfigurationActive" href="/Dashboard/Configuration">設定</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
