@page "/{userName}/{id}"
@model App.Pages.User.PostDetailModel
@{
    ViewData["Title"] = "PostDetail";
}

<h1>PostDetail</h1>

@{
    if (Model.Post == null)
    {
        <div>投稿はありません。</div>
    }
    else
    {
        <h1>
            @Model.Post.Title
        </h1>
        <hr />
        <div>
            @Html.Raw(Model.Post.Description)
        </div>
        <div>
            <text>投稿日: </text>
            <time datetime="@Model.Post.PublishedDate.ToString("yyyy-MM-ddTHH:mm:ssZ")" itemprop="PublishedDate">@Model.Post.PublishedDate.ToString("yyyy-MM-dd")</time>
        </div>
        <div>
            <text>更新日: </text>
            <time datetime="@Model.Post.UpdatedDate.ToString("yyyy-MM-ddTHH:mm:ssZ")" itemprop="UpdatedDate">@Model.Post.UpdatedDate.ToString("yyyy-MM-dd")</time>
        </div>
    }
}